body {
	background-image: url(../Images/darkwood.png);
	background-repeat: repeat;

	padding-top: 85px;
}

@font-face {
	font-family: myTitleFont;
	src: url(../Fonts/BarelyHandwritten.ttf);
}

@font-face {
	font-family: myTextFont;
	src: url(../Fonts/CarlJohn.ttf);
}

h1{
	font-family: myTextFont;
}

h2 {
	font-family: myTextFont;
	color: black;
}

h3 {
	font-family: myTextFont;
}

p {
	font-family: myTextFont;
	font-size: 12px;
}

a {
	color: #000000;
}

.top-bar h1 {
	color: white;
}

.top-bar menu-background{
	background: #000000;
}

.panel h1 {
	color: #000;
	font-size: 70px;
	text-decoration: underline;
}

.panel h2 {
	color: #000;
	font-size: 50px;
	text-decoration: underline;
}

.panel h3 {
	color: #000;
	text-decoration: underline;
	font-size: 40px;
}

.panel h4 {
	color: #000;
	font-size: 20px;
}

.panel p {
	color: #000;
	font-size: 25px;
}

.panel {
	padding-top: 35px;
	padding-left: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	margin-bottom: 35px;
	border-style: solid;
	border-color: white;
	border-width: 5px;
}

.Aboutpanel {
	padding-top: 35px;
	padding-left: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	margin-bottom: 35px;
	border-style: double;
	border-color: black;
	border-width: 10px;
}

.blogPanel{
	padding-top: 35px;
	padding-left: 35px;
	padding-bottom: 35px;
	padding-right: 35px;
	margin-bottom: 35px;
	border-style: double;
	border-color: black;
	border-width: 10px;
}

#blog .panel{	
	max-height: 580px;
	overflow-y:scroll;
	padding-top: 15px;
}
.hero-unit {
	margin-bottom: 35px;
	border-style: solid;
	border-color: white;
	border-width: 5px;
}

#resume .panel h2 {
	text-decoration: none;
	font-family: arial;
}

#resume .panel h3 {
	font-family: arial;
	font-size: 30px;
	text-decoration: none;
}

#resume .panel p {
	font-family: arial;
	font-size: 18px;
	text-decoration: none;
}

#resume .panel b {
	font-family: arial;
	font-size: 18px;
	text-decoration: none;
	color: #000;
}
